<section id="contact" class="contact-section" th:fragment="contactSection">
    <h2>Contact</h2>
    <div class="contact-wrapper">
        <dl class="contact-info">
            <div class="copy-container">
                <dt>Phone</dt>
                <dd>010 2597 1726</dd>
            </div>
            <div>
                <dt>Email</dt>
                <dd><a href="mailto:glass1726@gmail.com">glass1726@gmail.com</a></dd>
            </div>
            <div>
                <dt>Github</dt>
                <dd><a href="https://github.com/Woohahang" target="_blank" rel="noopener noreferrer">https://github.com/Woohahang</a>
                </dd>
            </div>
            <div>
                <dt>Discord</dt>
                <dd><a href="https://discord.gg/JWvCakpdmP" target="_blank" rel="noopener noreferrer">Wave
                    디스코드 채널 바로가기</a></dd>
            </div>
        </dl>

        <img src="/images/woohahang-dev.jpg" alt="김현우 프로필 사진" class="profile-photo"/>
    </div>
</section>